.root{
    -fx-background-color: #f1d8c6;
}

#chooseLabel{
    -fx-text-background-color: #654939;
}

.table-view .column-header {
    -fx-background-color: #936d4b;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header .label{
    -fx-text-fill: #f1d8c6;
    -fx-font-weight: bold;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-background-color: #f1d8c6;
    -fx-text-background-color: #654939;
}
.table-row-cell {
    -fx-background-color: #f1d8c6;
    -fx-text-background-color: #654939;
}
.table-row-cell:hover {
    -fx-background-color: #f1d8c6;
    -fx-text-background-color: #654939;
    -fx-font-weight: bold;
}
.table-row-cell:selected{
    -fx-background-color: #f1d8c6;
    -fx-text-background-color: #654939;
    -fx-font-weight: bold;
}

#gridPane{
    -fx-border-color: #f1d8c6;
}

.toggle-button{
    -fx-background-color: #936d4b;
    -fx-text-fill: #f1d8c6;
}


#makeReservationButton{
    -fx-background-color: #654939;
    -fx-text-fill: #f1d8c6;
}

.toggle-button:hover{
    -fx-background-color: #654939;
    -fx-text-fill: #f1d8c6;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #1f1916;
}
