.root{
    -fx-background-color: #f1d8c6;
}

#registerButton {
    -fx-background-color: #936d4b;
    -fx-text-fill: #f1d8c6;
    -fx-font-weight: bold;
}

#registerLabel{
    -fx-text-fill: #936d4b;
    -fx-font-weight: bold;
}

#emailLabel{
    -fx-text-fill: #936d4b;
    -fx-font-weight: bold;
}

#passwordLabel{
    -fx-text-fill: #936d4b;
    -fx-font-weight: bold;
}

#validationCodeLabel{
    -fx-text-fill: #936d4b;
    -fx-font-weight: bold;
}